<div id="A" class="productoContainer">
  <h1 style="width:100%; text-align:center;">A</h1>
  <br />
  <div class="productoMarco">
    <div class="productoItem"></div>
    <p>Nombre</p>
    <p>$100</p>
  </div>

  <div class="productoMarco">
    <div class="productoItem"></div>
    <p>Nombre</p>
    <p>$100</p>
  </div>

  <div class="productoMarco">
    <div class="productoItem"></div>
    <p>Nombre</p>
    <p>$100</p>
  </div>

  <div class="productoMarco">
    <div class="productoItem"></div>
    <p>Nombre</p>
    <p>$100</p>
  </div>

</div>
<br />
<hr />
<br />
<div id="B" class="productoContainer">
  <h1 style="width: 100%; text-align: center;">B</h1>
  <br />
  <div class="productoMarco">
    <div class="productoItem"></div>
    <p>Nombre</p>
    <p>$100</p>
  </div>

  <div class="productoMarco">
    <div class="productoItem"></div>
    <p>Nombre</p>
    <p>$100</p>
  </div>

  <div class="productoMarco">
    <div class="productoItem"></div>
    <p>Nombre</p>
    <p>$100</p>
  </div>

  <div class="productoMarco">
    <div class="productoItem"></div>
    <p>Nombre</p>
    <p>$100</p>
  </div>

</div>
<br />
<hr />
<br />
